
@font-face {
  font-family: 'Neue Regrade';
  src: url('../font/NeueRegrade-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Regrade';
  src: url('../font/NeueRegrade-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Regrade';
  src: url('../font/NeueRegrade-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* ------------------------------------------------------------------------------ Design System ------------------------------------------------------------------------------ */

/* Variabili CSS */
:root {
    --gutter-small: 20px;  /* spazio tra le colonne (gutter) piccolo */
    --gutter-medium: 25px; /* spazio tra le colonne (gutter) medio */
    --gutter-large: 30px;  /* spazio tra le colonne (gutter) grande */

    --margin-oriz-small: 16px;  /* Margine orizzontale per piccole distanze */
    --margin-oriz-medium: 24px; /* Margine orizzontale medio */
    --margin-oriz-large: 100px; /* Margine orizzontale grande */

    --margin-vert-small: 55px;  /* Margine verticale per piccole distanze */
    --margin-vert-medium: 65px; /* Margine verticale medio */
    --margin-vert-large: 80px;  /* Margine verticale grande */

    --spacing-new-section-large: 70px;  /* Spaziatura per nuove sezioni grande */
    --spacing-new-section-medium: 40px; /* Spaziatura per nuove sezioni media */
    --spacing-new-section-small: 20px;  /* Spaziatura per nuove sezioni piccola */

    --spacing-element-visivi-large: 100px;  /* Spaziatura tra elementi visivi grande */
    --spacing-element-visivi-medium: 50px;  /* Spaziatura tra elementi visivi media */
    --spacing-element-visivi-small: 32px;   /* Spaziatura tra elementi visivi piccola */  

    --spacing-text-large: 15px;  /* Spaziatura per nuove sezioni grande */
    --spacing-text-medium: 10px; /* Spaziatura per nuove sezioni media */
    --spacing-text-small: 0px;  /* Spaziatura per nuove sezioni piccola */


  }

/* Default: Desktop */
h1 {
  font-size: 250px;
  line-height: 200px;
  font-weight: 400;
  font-style: normal;
  line-height: 0.8;
}

h2 {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;  
}

p {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
}


/* Padding bottom new-section */
.pad-bottom-section{
  padding-bottom: var(--spacing-new-section-large);
  box-sizing: border-box;
}

/* Padding top new-section */
.pad-top-section{
  padding-top: var(--spacing-new-section-large);
  box-sizing: border-box;
}

/* Padding top text */
.pad-top-text{
  padding-top: var(--spacing-text-large);
  box-sizing: border-box;
}

/* Padding bottom text */
.pad-bottom-text{
  padding-bottom: var(--spacing-text-large);
  box-sizing: border-box;
}

/* Padding inferiore 100px */
.pad-bottom-elementi-visivi{
  padding-bottom: var(--spacing-element-visivi-large);
  box-sizing: border-box;
}

/* Padding superiore 100px */
.pad-top-elementi-visivi{
  padding-top: var(--spacing-element-visivi-large);
  box-sizing: border-box;
}

.gap{
  gap: var(--gutter-large);
}

.gap-text {
  gap: var(--spacing-text-large);
}


/* Tablet: max 1024px */
@media (max-width: 1024px) {
  h1 {
    font-size: 115px;
    line-height: 85px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .pad-bottom-section{
    padding-bottom: var(--spacing-new-section-medium);
  }

  .pad-top-section{
    padding-top: var(--spacing-new-section-medium);
  }

  .pad-bottom-text{
    padding-bottom: var(--spacing-text-medium);
  }

  .pad-top-text{
    padding-top: var(--spacing-text-medium);
  }

  .pad-bottom-elementi-visivi{
    padding-bottom: var(--spacing-element-visivi-medium);
  }

  .pad-top-elementi-visivi{
    padding-top: var(--spacing-element-visivi-medium);
  }

  .gap{
    gap: var(--gutter-medium);
  }

  .gap-text {
    gap: var(--spacing-text-medium);
  }
}

/* Mobile: max 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 50px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .pad-bottom-section{
    padding-bottom: var(--spacing-new-section-small);
  }

  .pad-top-section{
    padding-top: var(--spacing-new-section-small);
  }

  .pad-bottom-text{
    padding-bottom: var(--spacing-text-small);
  }

  .pad-top-text{
    padding-top: var(--spacing-text-small);
  }

  .pad-bottom-elementi-visivi{
    padding-bottom: var(--spacing-element-visivi-small);
  }

  .pad-top-elementi-visivi{
    padding-top: var(--spacing-element-visivi-small);
  }

  .gap{
    gap: var(--gutter-small);
  }

  .gap-text {
    gap: var(--spacing-text-small);
  }
}


/* 1. Contenuto a sinistra (orizzontale) */
.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 2. Contenuto al centro (orizzontale) */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 3. Contenuto a destra (orizzontale) */
.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 4. Contenuto in alto (verticale) */
.flex-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

/* 5. Contenuto al centro (verticale) */
.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 6. Contenuto in basso (verticale) */
.flex-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------------------------------------------------------ GLOBAL ------------------------------------------------------------------------------ */

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: 'Neue Regrade', Arial, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Neue Regrade', Arial, sans-serif;
}

.header-fixed {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.header {
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 1;
}

.header h2, .header-fixed h2 {
  font-size: 40px;
  color: #1a1a1a;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin-top: var(--margin-vert-large);
  padding: 0 var(--margin-oriz-large);
}

.project-title {
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.project-desc {
  margin: 0;
}

.project-hero {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.project-hero-img{
  width: 65%;
}

.project-hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}

.project-hero-img img:hover {
  filter: none;
}

.project-hero-info-container {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.project-hero-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-info-row {
  display: flex;
  align-items: left;
  border-bottom: 1px solid #1a1a1a;
  padding: 5px 0;
}

.project-info-row:last-child {
  border-bottom: none;
}

.project-info-label {
  width: 30%;
  font-weight: 400;
}

.project-info-value {
  flex: 1;
}

.project-link-underline {
  text-decoration: underline;
  text-underline-position: from-font;
}

.new-section {
  border-top: 1px solid #1a1a1a;
  padding-top: 8px;
  margin:0;
  text-transform: uppercase;
}

.section-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.desc-text{
  width: 35%;
  max-width: 600px;
  box-sizing: border-box;
}

.contenuto-visivo{
  width: 65%;
  box-sizing: border-box;
  align-items: stretch;
}

.contenuto-visivo-full{
  width: 100%;
  box-sizing: border-box;
  align-items: stretch;
}

.contenuto-visivo img {
  width: 100%;
  height: auto;
  object-fit:contain;
}

.contenuto-visivo-full img {
  width: 100%;
  height: auto;
  object-fit:contain;
}

.img-affiancate{
  flex-direction: row;
}


/* Colors section */
.colors-section {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.color-card {
    background-color: #fafafa;
    border: 1px solid #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px 10px 5px 10px;
    position: relative;
    width: 10vw;
    height: 10vw;
    flex-shrink: 0;
}

.color-sample {
    flex: 1;
    width: 100%;
    border: 1px solid #1a1a1a;
    min-height: 1px;
    min-width: 1px;
}

.color-label {
    line-height: 0;
    font-style: normal;
    font-size: 20px;
    color: black;
    width: 100%;
    padding-top: 5px;
}

.color-label p {
    line-height: 22px;
}


/* Typography section */
.typography-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
}

.font-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.font-divider {
    position: relative;
    height: 2px;
    width: 100%;
}

.font-divider svg {
    position: absolute;
    bottom: -0.5px;
    left: 0;
    right: 0;
    top: -0.5px;
    display: block;
    width: 100%;
    height: 100%;
}

.font-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 10px;
}

.font-name {
    line-height: 0;
    font-style: normal;
    font-size: 20px;
    color: black;
    white-space: nowrap;
}

.font-name p {
    line-height: 22px;
    white-space: pre;
}

.font-sample {
    position: relative;
}

.font-sample svg {
    display: block;
    height: 65px;
    width: auto;
}

/* ----------------------------------------- Tablet: max 1024px */
@media (max-width: 1024px) {
  .header h2, .header-fixed h2 {
    font-size: 28px;
  }

  .main{
    margin-top: var(--margin-vert-medium);
    padding: 0 var(--margin-oriz-medium);
  }

  .project-hero {
    flex-direction: column;
  }

  .project-hero-img{
    width: 100%;
  }

  .project-hero-info-container {
    width: 100%;
  }

  .section-row {
    flex-direction: column;
  }

  .desc-text{
    width: 100%;
    max-width: none;
  }

  .segue-img{
    margin-bottom: var(--spacing-element-visivi-medium);
  }

  .contenuto-visivo{
    width: 100%;
  }

  .img-affiancate{
    flex-direction: row;
  }

  .color-card{
    width: 20vw;
    height: 20vw;
    padding: 7px 7px 4px 7px;
  }

  .typography-section {
    width: 100%;
  }

  .font-info{
    gap: 5px;
  }

  .font-sample svg {
    height: 30px;
  }
}


/* ----------------------------------------- Mobile: max 600px */
@media (max-width: 600px) {
  .header h2, .header-fixed h2 {
    font-size: 24px;
  }

  .main{
    margin-top: var(--margin-vert-small);
    padding: 0 var(--margin-oriz-small);
  }

  .segue-img{
    margin-bottom: var(--spacing-element-visivi-small);
  }

  .colors-section{
    justify-content: space-between;
    gap:0;
  }

  .color-card{
    width:28%;
    height: 25vw;
    padding: 7px 7px 4px 7px;
  }

  .img-affiancate{
    flex-direction: column;
  }
}

/* ------------------------------------------------------------------------------ HOME ------------------------------------------------------------------------------ */

.desktop-home {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.filters {
  position: fixed;
  left: 20px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
}

.filter-btn {
  background: #fafafa;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 32px;
  color: #1a1a1a;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 200px;
}

.project {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

.project a {
  --project-line-height: 0.833;
  font-size: 18vw;
  color: #1a1a1a;
  text-transform: uppercase;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  line-height: calc(var(--project-line-height) * 1em);
  letter-spacing: 0;
  width: 100%;
  display: block;
}

.project a:hover {
  line-height: calc(var(--project-line-height) * 1em);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2%; /* 6px */
  text-underline-offset: -45%; /* -108px */
  text-underline-position: from-font;
  text-transform: uppercase;
}

.contact-info {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #1a1a1a;
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  padding: 4px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.contact-info p {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  min-width: 100%;
  animation: marquee 25s linear infinite;
}

.contact-info p::after {
  content: attr(data-marquee);
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
  padding-left: 5px; /* spazio tra le ripetizioni */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* -------------------------------------- TABLET: max-width 1024px */
@media (max-width: 1024px) {
  .desktop-home {
    padding: 0 16px;
  }

  .header {
    font-size: 28px;
    top: 20px;
    left: 24px;
  }

  .header-fixed {
    font-size: 28px;
    top: 20px;
    left: 16px;
  }

  .filters {
    left: 16px;
    bottom: 70px;
  }

  .filter-btn {
    font-size: 24px;
  }

  .project-list {
    padding-bottom: 0px;
  }

  .project {
    max-width: 100vw;
  }

  .project a {
    font-size: 18vw;
  }

  .contact-info {
    font-size: 16px;
    line-height: 28px;
    padding: 4px;
  }
}


/* -------------------------------------- MOBILE: max-width 600px */
@media (max-width: 600px) {
  .desktop-home {
    padding: 8px;
  }

  .header {
    font-size: 24px;
    top: 20px;
    left: 16px;
  }

   .header-fixed {
    font-size: 24px;
    top: 20px;
    left: 16px;
  }

  .filters {
    left: 8px;
    bottom: 60px;
    width: auto;
  }

  .filter-btn {
    font-size: 24px;
  }

  .project-list {
    padding-bottom: 150px;
  }

  .project {
    max-width: 100vw;
  }

  .project a {
    font-size: 18vw;
    word-break: break-word;
    text-align: right;
    width: 100vw;
    display: block;
    margin-right: 0;
  }

  .contact-info {
    font-size: 18px;
    line-height: 20px;
    padding: 4px;
  }
}




/* ------------------------------------------------------------------------------ ARC ------------------------------------------------------------------------------ */


/* --- LAYOUT PRINCIPALE ARC --- */
.contenuto-visivo .schema {
  padding-left: 100px;
  box-sizing: border-box;
}

.logo-arc{
  width: 50vw;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.animazione-logo {
    width: 100%;     
    height: auto;
    overflow: hidden;
    padding: 0;
  }

.manifesto-section{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.manifesto-section .section-title{
  width: 100%;
}

.manifesto-section .manifesto-image, .manifesto-image img{
  width: 100%;
}

.itinerario-grid-container{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.itinerario-grid-container .grid-row{
  display: flex;
}

.itinerario-card{
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.itinerario-card img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.mockup-section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}

/* Container delle righe */
.row-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-shrink: 0;
}

/* Container per coppie di telefoni */
.phone-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 1px;
    min-width: 1px;
    position: relative;
    flex-shrink: 0;
}

/* Mockup dei telefoni - stile base */
.phone-mockup {
    flex: 1;
    min-height: 1px;
    min-width: 1px;
    flex-shrink: 0;
}

/* Immagini di background per ogni telefono */
.phone-mockup img{
  width: 100%;
  height: auto;
  object-fit: contain;    
}

.backtotop {
  text-align: left;
  margin-left: var(--margin-oriz-large);
  padding-bottom: 80px;
}

.backtotop a {
  font-size: 32px;
  color: #1a1a1a;
  text-decoration: none;
  cursor: pointer;
}

/* -------------------------------------- TABLET: max-width 1024px */
@media (max-width: 1024px) {
  .contenuto-visivo .schema {
    padding-left: 0;
  }

  .manifesto-section {
    width: 100%;
  }

  .itinerario-grid-container {
    width: 100%;
  }

  .backtotop {
    margin-left: var(--margin-oriz-medium);
    padding-bottom: 70px;
  }
}


/* -------------------------------------- MOBILE: max-width 600px */
@media (max-width: 600px) {
   .itinerario-grid-container .grid-row {
    flex-direction: column;
  }
  .itinerario-card {
    width: 100%;
  }

  .backtotop {
    margin-left: var(--margin-oriz-small);
    padding-bottom: 60px; 
  }
}















