
@font-face {
  font-family: 'Neue Regrade';
  src: url('../font/NeueRegrade-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Neue Regrade';
  src: url('../font/NeueRegrade-Regular-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Regrade';
  src: url('../font/NeueRegrade-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Regrade';
  src: url('../font/NeueRegrade-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* ------------------------------------------------------------------------------ Design System ------------------------------------------------------------------------------ */

/* Variabili CSS */
:root {
    --gutter-small: 20px;  /* spazio tra le colonne (gutter) piccolo */
    --gutter-medium: 25px; /* spazio tra le colonne (gutter) medio */
    --gutter-large: 30px;  /* spazio tra le colonne (gutter) grande */

    --margin-oriz-small: 16px;  /* Margine orizzontale per piccole distanze */
    --margin-oriz-medium: 24px; /* Margine orizzontale medio */
    --margin-oriz-large: 100px; /* Margine orizzontale grande */

    --margin-vert-small: 80px;  /* Margine verticale per piccole distanze */
    --margin-vert-medium: 90px; /* Margine verticale medio */
    --margin-vert-large: 100px;  /* Margine verticale grande */

    --spacing-new-section-large: 70px;  /* Spaziatura per nuove sezioni grande */
    --spacing-new-section-medium: 40px; /* Spaziatura per nuove sezioni media */
    --spacing-new-section-small: 20px;  /* Spaziatura per nuove sezioni piccola */

    --spacing-element-visivi-large: 100px;  /* Spaziatura tra elementi visivi grande */
    --spacing-element-visivi-medium: 50px;  /* Spaziatura tra elementi visivi media */
    --spacing-element-visivi-small: 32px;   /* Spaziatura tra elementi visivi piccola */  

    --spacing-text-large: 15px;  /* Spaziatura per nuove sezioni grande */
    --spacing-text-medium: 10px; /* Spaziatura per nuove sezioni media */
    --spacing-text-small: 2px;  /* Spaziatura per nuove sezioni piccola */
  }

/* Default: Desktop */
h1 {
  font-size: 13vw;
  font-weight: 400;
  font-style: normal;
  line-height: 0.75;
}

h2 {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;  
}

p {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

.label{
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
}


/* Padding bottom new-section */
.pad-bottom-section{
  padding-bottom: var(--spacing-new-section-large);
  box-sizing: border-box;
}

/* Padding top new-section */
.pad-top-section{
  padding-top: var(--spacing-new-section-large);
  box-sizing: border-box;
}

/* Padding top text */
.pad-top-text{
  padding-top: var(--spacing-text-large);
  box-sizing: border-box;
}

/* Padding bottom text */
.pad-bottom-text{
  padding-bottom: var(--spacing-text-large);
  box-sizing: border-box;
}

/* Padding inferiore 100px */
.pad-bottom-elementi-visivi{
  padding-bottom: var(--spacing-element-visivi-large);
  box-sizing: border-box;
}

/* Padding superiore 100px */
.pad-top-elementi-visivi{
  padding-top: var(--spacing-element-visivi-large);
  box-sizing: border-box;
}

.gap{
  gap: var(--gutter-large);
}

.gap-text {
  gap: var(--spacing-text-large);
}


/* Tablet: max 1024px */
@media (max-width: 1024px) {
  h1 {
    font-size: 13vw;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .label{
    font-size: 16px;
  }

  .pad-bottom-section{
    padding-bottom: var(--spacing-new-section-medium);
  }

  .pad-top-section{
    padding-top: var(--spacing-new-section-medium);
  }

  .pad-bottom-text{
    padding-bottom: var(--spacing-text-medium);
  }

  .pad-top-text{
    padding-top: var(--spacing-text-medium);
  }

  .pad-bottom-elementi-visivi{
    padding-bottom: var(--spacing-element-visivi-medium);
  }

  .pad-top-elementi-visivi{
    padding-top: var(--spacing-element-visivi-medium);
  }

  .gap{
    gap: var(--gutter-medium);
  }

  .gap-text {
    gap: var(--spacing-text-medium);
  }
}

/* Mobile: max 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 13vw
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .label{
    font-size: 16px;
  }

  .pad-bottom-section{
    padding-bottom: var(--spacing-new-section-small);
  }

  .pad-top-section{
    padding-top: var(--spacing-new-section-small);
  }

  .pad-bottom-text{
    padding-bottom: var(--spacing-text-small);
  }

  .pad-top-text{
    padding-top: var(--spacing-text-small);
  }

  .pad-bottom-elementi-visivi{
    padding-bottom: var(--spacing-element-visivi-small);
  }

  .pad-top-elementi-visivi{
    padding-top: var(--spacing-element-visivi-small);
  }

  .gap{
    gap: var(--gutter-small);
  }

  .gap-text {
    gap: var(--spacing-text-small);
  }
}


/* 1. Contenuto a sinistra (orizzontale) */
.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 2. Contenuto al centro (orizzontale) */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 3. Contenuto a destra (orizzontale) */
.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 4. Contenuto in alto (verticale) */
.flex-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

/* 5. Contenuto al centro (verticale) */
.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 6. Contenuto in basso (verticale) */
.flex-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* ------------------------------------------------------------------------------ GLOBAL ------------------------------------------------------------------------------ */

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: 'Neue Regrade', Arial, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Neue Regrade', Arial, sans-serif;
}

.header-fixed {
  background: #fafafa;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px var(--margin-oriz-large);
  box-sizing: border-box;
  border-bottom: 1px solid #1a1a1a;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.header {
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 1;
}

.header h2, .header-fixed h2 {
  font-size: 28px;
  color: #1a1a1a;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header i, .header-fixed i{
  font-weight: 400;
  font-style: italic;
}

.voci-menu{
  position: relative;
  display: contents; /* mantiene la struttura in HTML ma "scompare" nel layout flex */
}

.voce-menu{
  border-top:none;
  flex: 1;
  text-align: right;
}

.plus-icon {
  display: none;
  cursor: pointer;
}

.plus-icon path {
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform-origin: center;
}

/* Stato attivo → diventa X */
.plus-icon.active path:nth-of-type(1) {
  transform: rotate(45deg) translateY(0px);
}

.plus-icon.active path:nth-of-type(2) {
  transform: rotate(45deg) translateX(0px);
}

.main {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: var(--margin-vert-large) var(--margin-oriz-large) 0;
}

.project-title {
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.project-desc {
  margin: 0;
}

.project-hero {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.project-hero-img{
  width: 65%;
}

.project-hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}

.project-hero-img img:hover {
  filter: none;
}

.project-hero-info-container {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.project-hero-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-info-row {
  display: flex;
  align-items: left;
  border-bottom: 1px solid #1a1a1a;
  padding: 5px 0;
}

.project-info-row:last-child {
  border-bottom: none;
}

.project-info-label {
  width: 30%;
  font-weight: 400;
}

.project-info-value {
  flex: 1;
}

.project-link-underline {
  text-decoration: underline;
  text-underline-position: from-font;
}

.logo-progetto {
  width: 50vw;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.new-section {
  border-top: 1px solid #1a1a1a;
  padding-top: 8px;
  margin:0;
  text-transform: uppercase;
}

.section-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.section-column {
  display: flex;
  flex-direction: column;
}

.desc-text{
  width: 35%;
  max-width: 600px;
  box-sizing: border-box;
}

.contenuto-visivo{
  width: 65%;
  box-sizing: border-box;
  align-items: stretch;
}

.contenuto-visivo-full{
  width: 100%;
  box-sizing: border-box;
  align-items: stretch;
}

.contenuto-visivo img, .contenuto-visivo-full img, .contenuto-visivo svg, .contenuto-visivo-full svg{
  width: 100%;
  height: auto;
  object-fit:contain;
}

.img-affiancate{
  flex-direction: row;
}

.img-affiancate-row{
  flex-direction: row;
}


/* Colors section */
.colors-section {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.color-card {
    background-color: #fafafa;
    border: 1px solid #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px 10px 5px 10px;
    position: relative;
    width: 10vw;
    height: 10vw;
    flex-shrink: 0;
}

.color-sample {
    flex: 1;
    width: 100%;
    border: 1px solid #1a1a1a;
    min-height: 1px;
    min-width: 1px;
}

.color-label {
    line-height: 0;
    font-style: normal;
    font-size: 20px;
    color: black;
    width: 100%;
    padding-top: 5px;
}

.color-label p {
    line-height: 22px;
}


/* Typography section */
.typography-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
}

.font-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.font-divider {
    position: relative;
    height: 2px;
    width: 100%;
}

.font-divider svg {
    position: absolute;
    bottom: -0.5px;
    left: 0;
    right: 0;
    top: -0.5px;
    display: block;
    width: 100%;
    height: 100%;
}

.font-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 10px;
}

.font-name {
    line-height: 0;
    color: black;
    white-space: nowrap;
}

.font-name p {
    line-height: 22px;
    text-wrap: auto;
}

.font-sample {
    position: relative;
}

.font-sample svg {
    display: block;
    height: 65px;
    width: auto;
}

.mockup-img{
  border-radius: 20px;
  box-shadow: 0 4px 18px 4px rgba(0, 0, 0, 0.25);
  margin: 5px 0;
}

.mockup-mobile-img{
  border-radius: 10px;
  box-shadow: 0 4px 18px 4px rgba(0, 0, 0, 0.25);
  margin: 5px 0;
}

.text-columns{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.backtotop {
  text-align: left;
  margin-left: var(--margin-oriz-large);
  padding-bottom: 80px;
}

.backtotop p {
  font-size: 32px;
  color: #1a1a1a;
  text-decoration: none;
  cursor: pointer;
}

/* ----------------------------------------- Tablet: max 1024px */
@media (max-width: 1024px) {
  .header-fixed {
    display: block;
    padding: 0px;
  }

  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px var(--margin-oriz-medium);
  }

  .header h2, .header-fixed h2 {
    font-size: 24px;
  }

  /* MENU A SCOMPARSA */
  .voci-menu {
    max-height: 0;
    overflow: hidden;
    display: block;
    transition: max-height 0.4s ease; /* durata animazione */
    border-bottom: 2px solid transparent;
  }

  .voci-menu.open {
    max-height: 500px;
  }

  .voce-menu{
    display: block;
    border-top: 1px solid #1a1a1a;
    padding: 10px var(--margin-oriz-medium);
    text-align: left;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.2s ease; /* durata animazione */
  }

  .voci-menu.open .voce-menu{
    transform: translateY(0);
    opacity: 1;
  }

  .plus-icon {
    display: block; 
    width: 28px;
    height: 28px;
    user-select: none;
  }

  .main{
      padding: var(--margin-vert-medium) var(--margin-oriz-medium) 0;
  }

  .project-hero {
    flex-direction: column;
  }

  .project-hero-img{
    width: 100%;
  }

  .project-hero-info-container {
    width: 100%;
  }

  .section-row {
    flex-direction: column;
  }

  .desc-text{
    width: 100%;
    max-width: none;
  }

  .segue-img{
    margin-bottom: var(--spacing-element-visivi-medium);
  }

  .contenuto-visivo{
    width: 100%;
  }

  .img-affiancate{
    flex-direction: row;
  }

  .color-card{
    width: 18vw;
    height: 18vw;
    padding: 7px 7px 4px 7px;
  }

  .typography-section {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
  }

  .font-info{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .font-name p{
    max-width: 200px;
  }

  .font-sample{
    padding-top: 5px;
  }

  .font-sample svg {
    height: 40px;
  }

  .mockup-img{
  border-radius: 10px;
  }

  .backtotop {
    margin-left: var(--margin-oriz-medium);
    padding-bottom: 60px; 
  }

  .backtotop p {
    font-size: 24px;
  }
}


/* ----------------------------------------- Mobile: max 600px */
@media (max-width: 600px) {
  .navbar, .voce-menu{
    padding: 10px var(--margin-oriz-small);
  }

  .plus-icon{
    width: 25px;
    height: 25px;
  }

  .header h2, .header-fixed h2 {
    font-size: 20px;
  }

  .main{
    padding: var(--margin-vert-small) var(--margin-oriz-small) 0;
  }

  .logo-progetto{
    width: 70vw;
  }

  .segue-img{
    margin-bottom: var(--spacing-element-visivi-small);
  }

  .colors-section{
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
  }

  .color-card{
    align-self: stretch;
    flex: 1 0 0;
    aspect-ratio : 1 / 1;
    padding: 7px 7px 4px 7px;
    min-width: 60px;
    max-width: 120px;
  }
  
  .color-label p{
    font-size: 13px;
  }

  .typography-section {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-columns{
    flex-direction: column;
  }

  .font-info{
    flex-direction: row;
    justify-content: space-between;
  }

  .font-sample svg {
    height: 30px;
  }

  .img-affiancate{
    flex-direction: column;
  }

  .backtotop {
    margin-left: var(--margin-oriz-small);
    padding-bottom: 60px; 
  }
}

/* ------------------------------------------------------------------------------ HOME ------------------------------------------------------------------------------ */

.desktop-home {
  position: relative;
  min-height: 100vh;
  padding: 80px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* .filters {
  position: fixed;
  left: 20px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
}

.filter-btn {
  background: #fafafa;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 32px;
  color: #1a1a1a;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
} */

.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.project {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

.project a {
  --project-line-height: 0.833;
  font-size: 18vw;
  color: #1a1a1a;
  text-transform: uppercase;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  line-height: calc(var(--project-line-height) * 1em);
  letter-spacing: 0;
  width: 100%;
  display: block;
}

.project a:hover {
  line-height: calc(var(--project-line-height) * 1em);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2%; /* 6px */
  text-underline-offset: -45%; /* -108px */
  text-underline-position: from-font;
  text-transform: uppercase;
}

.contact-info {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #1a1a1a;
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  padding: 4px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.contact-info p {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  min-width: 100%;
  animation: marquee 25s linear infinite;
}

.contact-info p::after {
  content: attr(data-marquee);
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
  padding-left: 5px; /* spazio tra le ripetizioni */
}

.fixed {
  position: fixed;
  left: 0; 
  right:0;
  padding-left: var(--margin-oriz-large);
  padding-right: var(--margin-oriz-large);
  z-index: 5;
  background-color: #fafafa;
  cursor: pointer;
  border-bottom: #1a1a1a solid 1px;
}

.anni-progetti-container {
  width: 100%;
  box-sizing: border-box;
}

.anni-progetti-menu {
  border-top: #1a1a1a solid 1px;
  padding: 15px var(--margin-oriz-large) 0;
}

.project-list .anni-progetti-container:first-child .anni-progetti-menu {
    border-top: none;
    position: fixed;
    left: 0; 
    right:0;
    top: 55px;
    padding-left: var(--margin-oriz-large);
    padding-right: var(--margin-oriz-large);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* -------------------------------------- TABLET: max-width 1024px */
@media (max-width: 1024px) {
  .desktop-home {
    padding: 70px 0 0;
  }

  /* .filters {
    left: 16px;
    bottom: 70px;
  }

  .filter-btn {
    font-size: 24px;
  } */

  .project-list {
    padding-bottom: 40px;
  }

  .project {
    max-width: 100vw;
    padding: 0 var(--margin-oriz-medium);
  }

  .project a {
    font-size: 18vw;
  }

  .contact-info {
    font-size: 16px;
    line-height: 28px;
    padding: 4px;
  }

  .fixed {
    padding-left: var(--margin-oriz-medium);
    padding-right: var(--margin-oriz-medium);
  }

  .anni-progetti-menu {
    padding: 10px var(--margin-oriz-medium) 0;
  }

  .project-list .anni-progetti-container:first-child .anni-progetti-menu {
    top: 53px;
    padding-left: var(--margin-oriz-medium);
    padding-right: var(--margin-oriz-medium);
  }
}


/* -------------------------------------- MOBILE: max-width 600px */
@media (max-width: 600px) {
  .desktop-home {
    padding: 60px 0 0;
  }

  /* .filters {
    left: 8px;
    bottom: 60px;
    width: auto;
  }

  .filter-btn {
    font-size: 24px;
  } */

  .project {
    max-width: 100vw;
    padding: 0 var(--margin-oriz-small);
  }

  .project a {
    font-size: 17vw;
    word-break: break-word;
    text-align: right;
    width: 100vw;
    display: block;
    margin-right: 0;
  }

  .contact-info {
    font-size: 18px;
    line-height: 20px;
    padding: 4px;
  }

  .fixed {
    padding-left: var(--margin-oriz-small);
    padding-right: var(--margin-oriz-small);
  }

  .anni-progetti-menu {
    padding: 10px var(--margin-oriz-small) 0;
  } 

  .project-list .anni-progetti-container:first-child .anni-progetti-menu {
    top: 47px;
    padding-left: var(--margin-oriz-small);
    padding-right: var(--margin-oriz-small);
  }
}


/* ------------------------------------------------------------------------------ ABOUT ------------------------------------------------------------------------------ */


body.about {
  background-color: #000;
}

.header-fixed.about {
  background-color: #000;
  border-bottom: 1px solid #fafafa;
}

.plus-icon.about path{
  stroke: #fafafa;
}

h1.about{
  color: #fafafa;
}

h2.about{
  color: #fafafa;
}

h3.about{
  color: #fafafa;
}

.section-row.about {
  height: 55vh;
}

.info-container{
  max-width: 420px;
  height: 100%;
}

.about-hero-img {
  width: auto;
  height: 100%;
}

.about-hero-img img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 9/6;
}

.contact-info.about {
  background-color: #000;
}

/* -------------------------------------- TABLET: max-width 1024px */
@media (max-width: 1024px) {
  .voce-menu.about {
    border-top: 1px solid #fafafa;
  }

  .section-row.about {
    height: calc(100vh);
    padding-bottom: 100px;
  }

  .info-container{
    order: 2;
  }

  h3.about{
    font-size: 20px;
  }

  .about-hero-img {
    height: auto;
  }

}

/* -------------------------------------- MOBILE: max-width 600px */
@media (max-width: 600px) {
  .main.about {
    overflow: clip;
  }

  .section-row.about {
      height: calc(100vh - 135px);
      padding-bottom: 70px;
      box-sizing: border-box;
    }

  h3.about{
    font-size: 18px;
  }
}

/* ------------------------------------------------------------------------------ ARC ------------------------------------------------------------------------------ */


/* --- LAYOUT PRINCIPALE ARC --- */
.contenuto-visivo .schema {
  padding-left: 100px;
  box-sizing: border-box;
}

.animazione-logo {
    width: 100%;     
    height: auto;
    overflow: hidden;
    padding: 0;
  }

.manifesto-section{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.manifesto-section .section-title{
  width: 100%;
}

.manifesto-section .manifesto-image, .manifesto-image img{
  width: 100%;
}

.itinerario-grid-container{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.itinerario-grid-container .grid-row{
  display: flex;
}

.itinerario-card{
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.itinerario-card img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.mockup-section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}

/* Container delle due righe di mockup */
.row-container-mockup {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.row-container-mockup img {
  width: calc(16% - 8.33px); /* 6 per riga */
  height: auto;
  object-fit: contain;
}

/* -------------------------------------- TABLET: max-width 1024px */
@media (max-width: 1024px) {
  .contenuto-visivo .schema {
    padding-left: 0;
  }

  .manifesto-section {
    width: 100%;
  }

  .itinerario-grid-container {
    width: 100%;
  }

  .row-container-mockup img {
    width: calc(24% - 7.5px); /* 4 per riga */
  }

}


/* -------------------------------------- MOBILE: max-width 600px */
@media (max-width: 600px) {
   .itinerario-grid-container .grid-row {
    flex-direction: column;
  }
  .itinerario-card {
    width: 100%;
  }

  .row-container-mockup img {
    width: calc(48% - 5px); /* 2 per riga */
  }
}


/* ------------------------------------------------------------------------------ SOTTOSALE ------------------------------------------------------------------------------ */
.costruzione-logo{
  width: 35%;
  display: flex;
  align-items: baseline;
}

.costruzione-logo svg{
  height: auto;     /* mantiene l’aspetto */
  object-fit: contain; /* evita deformazioni */
}

.left-section-sottosale-website{
  width: 75%;
  box-sizing: border-box;
}

.large-map-container{
  width: 100%;
  box-sizing: border-box;
}

.map-image{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.right-section-sottosale-website{
  width: 18%;
}

.mobile-mockups-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coppia-mockup, .coppia-mockup-2{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobile-mockups-container img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.qr-section{
  width: 100%;
  border-top: 1px solid #1a1a1a;
  padding-top: 10px;
}

.qr-content{
  display: flex;
  align-items: start;
}

.qr-code{
  max-width: 40%;
}

.qr-text{
  min-width: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* -------------------------------------- TABLET: max-width 1024px */
@media (max-width: 1024px) {
  .logo-progetto.sottosale {
    width: 70vw;
  }
  .costruzione-logo{
    width: 60%;
    justify-content: center;
  }

  .left-section-sottosale-website{
    width: 100%;
    box-sizing: border-box;
  }

  .right-section-sottosale-website{
    padding-top: var(--spacing-element-visivi-medium);
    width: 100%;
  }

  .mobile-mockups-container{
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .coppia-mockup, .coppia-mockup-2{
    width: 45%;
  }

  .coppia-mockup-2{
    flex-direction: column-reverse;
  }

  .mobile-mockups-container img{
    width: 100%;
  }

  .qr-section{
    display: none;
  }

}


/* -------------------------------------- MOBILE: max-width 600px */
@media (max-width: 600px) {
  .logo-progetto.sottosale {
    width: 80vw;
  }
  .costruzione-logo{
    width: 80%;
    justify-content: center;
  }

  .right-section-sottosale-website{
    padding-top: var(--spacing-element-visivi-small);
  }

  .coppia-mockup, .coppia-mockup-2{
    width: 45%;
  }

  .mobile-mockups-container img{
    width: 100%;
  }
}

/* ---------------------------------------------------------------------------- FOMM QUELL ------------------------------------------------------------------------------ */

.stickers-container{
  width: 100%;
}


/* ---------------------------------------------------------------------------- FOMM QUELL ------------------------------------------------------------------------------ */

.loghi-e-ref-PO{
  align-items: center;
  gap: var(--spacing-element-visivi-large);
  flex-direction: row;
}

.loghi-e-ref-PO .contenuto-visivo{
  width: 65%;
}

/* -------------------------------------- TABLET: max-width 1024px */
@media (max-width: 1024px) {
  .loghi-e-ref-PO{
    gap: var(--spacing-element-visivi-medium);
  }

}

/* -------------------------------------- MOBILE: max-width 600px */
@media (max-width: 600px) {
  .loghi-e-ref-PO{
    gap: var(--spacing-element-visivi-small);
  }

}



/* ---------------------------------------------------------------------------- OSAMA ------------------------------------------------------------------------------ */


.slider-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--gutter-large);
}

.col {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-next-container {
  display: contents;
}

.next-col{
  order: 2;
}

.col svg {
  width: 100%;
}

.prev, .next {
  cursor: pointer;
}

.slider {
  position: relative;
  width: 70%;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

/* -------------------------------------- TABLET: max-width 1024px */
@media (max-width: 1024px) {
  .slider-container {
    flex-direction: column;
  }

  .slider {
    width: 100%;
  }

  .prev-next-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: 2;
  }

  .col {
    justify-content: space-between;
  }

  .prev-col, .next-col {
    grid-column: 1;
    display: flex;
    gap: var(--gutter-small);
  }

  .prev-col {
    order: 2;
    justify-content: flex-start;
  }

  .next-col {
    order: 2;
    justify-content: flex-end;
  }
}









